#main-map
  height: 500px
  width: 100%
#map
  width: 100%
  height: 100%
.controls
  margin-top: 10px
  border: 1px solid transparent
  border-radius: 2px 0 0 2px
  box-sizing: border-box
  -moz-box-sizing: border-box
  height: 32px
  outline: none
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)

#search_box
  background-color: #fff
  font-family: Roboto
  font-size: 15px
  font-weight: 300
  margin-left: 2.5%
  margin-right: 2.5%
  padding: 0 11px 0 13px
  text-overflow: ellipsis
  width: 95%
  &:focus 
    border-color: #4d90fe

.map-interface
  margin-top: 20px
  padding-top: 20px
  border-top: 1px dashed #ccc

.toolbox, .results
  height: 500px
  height: 500px
  border: 1px solid #ddd

.toolbox
  background-color: #ddd

#no-results, #result-grid, #waiting
  text-align: center
  padding: 60px 40px

#toolbox
  width: 100%
  position: relative
  padding: 2px
.tools
  margin: 0
.geo_feedback
  padding-top: 2px
  bottom: 0
  position: absolute
  text-align: center
  width: 100%