%footer#footer
  .container
    .row
      .col-md-5
        = insert_content("footer_blurb")

      .col-md-2.col-md-offset-2.references
        = insert_content("reference_list")

      .col-md-2.col-md-offset-1.contributors
        = insert_content("footer_creators")
        