%footer#footer
  .container
    .row
      .col-md-5
        = insert_content("footer_blurb")

      .col-md-2.col-md-offset-2.reference_links
        = insert_content("footer_links")

      .col-md-2.col-md-offset-1.contributors
        = insert_content("footer_creators")
        