%footer.page-footer.container-fluid
  .row
    .col-md-5
      %h3 TERRAPATTERN
      %p.important Enabling journalists, citizen scientists, humanitarian workers and others to detect “patterns of interest” in satellite imagery through an open-source tool.
      %p
        Funded through a grant from the 
        %a{href: "http://knightfoundation.org/grants/201551228/"} Knight Prototype Fund
      
        \& developed at the 
        %a{href: "http://studioforcreativeinquiry.org/"} Frank-Ratchye STUDIO for Creative Inquiry
        at Carnegie Mellon.
        
    
    .col-md-2.col-md-offset-2.references
      %h3 References
      %ul.list-unstyled
        %li
          %a{href: "http://github.com/workergnome/terrapattern", target: "_blank" } Github 

    .col-md-2.col-md-offset-1.contributors
      %h3 Created By
      %ul.list-unstyled
        %li
          %a{href: "http://flong.com", target: "_blank" } Golan Levin 
        %li
          %a{href: "http://kylemcdonald.net", target: "_blank" } Kyle McDonald
        %li
          %a{href: "http://workergnome.com", target: "_blank" } David Newbury
