%header#top-bar{class: (alt_header ? "animated-header landing-page" : "animated-header pages-header")}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        %a{:href => "/"}
          %img{:alt => "", :src => "images/terrapattern_logo_white.png"}

    %nav.navbar.collapse.navbar-collapse.navbar-right{:role => "navigation"}
      .main-menu
        %ul.nav.navbar-nav.navbar-right

          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Search a City
              %span.caret
            .dropdown-menu
              %ul
                - settings.city_names.each_with_index do |name, id|
                  %li
                    %a{:href => subdomain_url(settings.city_urls[id])}= name
          %li
            %a{:href => "/about"}About
          %li
            %a{:href => "/team"}Team
          %li
            %a{:href => "/faq"}FAQ
          %li
            %a{:href => "/references"}References