%nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand{href:"/"} Terrapattern
    %ul.list-inline
      - settings.city_data.each do |city|
        %a{href: "http://#{city['url_name']}.terrapattern.dev#{(":" + settings.port.to_s) unless settings.port == 80 } "}
          = city["name"]
