.row
  .col-md-12
    %h1
      Terrapattern finds places that look the same using machine learning.
    %p
      Terrapatterns provides researchers, journalists, citizen scientists, and artists the ability to quickly and easily scan extremely large geographical areas for specific visual features. In particular, we are interested in so-called "soft" features; things that do not appear on maps. Examples might include methane blowholes, oil derricks, large fiberglass lumberjacks, or illegal farms.
    %p
      Our hope is that this will allow people who do not work for government intelligence agencies or large hedge funds the ability to research and answer questions about our world that are otherwise unknowable. For example, users could use the tool to identify destroyed buildings in conflict zones.
.row.map-interface
  .col-md-6
    #main-map
  .col-md-1
    #toolbox.toolbox
      %ul.list-unstyled.tools
        %li#pin
      .geo_feedback
        .lat
        .lng
  .col-md-5
    .results
      #result-grid.hidden
        %p Complete!
      #waiting.hidden
        %p Processing.  Please be patient        
      #no-results
        %p Please select a place by dropping a pin onto the map on the left.
        %p Terrapattern will search for other things that resemble it around the world. 