%section.global-page-header
  .container.header-content
    .row
      .col-md-12
        .block
          %h1 Press
          .col-md-8.header-description
            %p.prose

%section
  .container
    .row
      .col-md-12.references
        = insert_content("press_kit")



%section.bibliography-section
  .container
    .row
      .col-md-12.references
        = insert_content("press")