%section.global-page-header
  .container.header-content
    .row
      .col-md-12
        .block
          %h2 References and Related Work
          .col-md-8.header-description
            %p.prose


%section
  .container
    .row
      .col-md-12.references
        = insert_content("references_projects")

%section.bibliography-section
  .container
    .row
      .col-md-12.bibliography
        = insert_content("references_bibliography")