html {
  background-color: #111; }

body {
  background-color: #eee;
  padding-top: 90px;
  font-family: "EB Garamond", serif; }

p {
  font-size: 18px; }

.map-interface {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dashed #ccc; }

.toolbox, .results {
  height: 500px;
  height: 500px;
  border: 1px solid #ddd; }

.toolbox {
  background-color: #ddd; }

#no-results, #result-grid, #waiting {
  text-align: center;
  padding: 60px 40px; }

#toolbox {
  width: 100%;
  position: relative;
  padding: 2px; }

.tools {
  margin: 0; }

.geo_feedback {
  padding-top: 2px;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%; }

.important {
  font-weight: bold; }

.main-content {
  min-height: 300px;
  margin-bottom: 50px; }

#main-map {
  height: 500px; }

.page-footer {
  border-top: 2px solid #27541F;
  background-color: #111;
  color: #999;
  padding-top: 10px;
  padding-bottom: 30px; }
  .page-footer a, .page-footer a:visited, .page-footer a:active, .page-footer a:hover {
    color: #eee; }
  .page-footer .important {
    color: #ddd; }
