.exhibit_mode {
  margin-top: -40px;
  padding-bottom: 10px; }

.location_tile {
  width: 16%;
  cursor: pointer;
  margin: 0.5px;
  border: 3px solid transparent;
  position: relative;
  display: inline-block;
  height: 100%;
  border-radius: 6px; }
  .location_tile img {
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 3px; }
  .location_tile:hover img {
    opacity: 0.8; }

#no_results, #results_grid, #waiting, #results_pagination {
  text-align: center; }

#results_grid {
  min-height: 300px;
  padding: 6px 0; }

#mini_displays {
  margin-bottom: 10px; }

#main-map {
  margin-top: 10px;
  height: 598px;
  width: 100%; }

@media only screen and (max-width: 767px) {
  #main-map {
    width: 95%;
    margin-left: 2.5%;
    height: 400px; }

  #interface_parts {
    width: 95%;
    margin-left: 2.5%; } }
#map {
  width: 100%;
  height: 100%; }

#search_box {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 10px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 95%; }
  #search_box:focus {
    border-color: #4d90fe; }

#map_interface {
  position: relative; }
  #map_interface h4 {
    width: 100%; }

#searching {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.45); }
  #searching h4 {
    text-align: center;
    padding-top: 20%;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 3px 3px 3px #000; }

#small-screen-warning {
  background-color: #fff;
  text-align: center;
  padding: 10px 0; }
  #small-screen-warning p {
    color: #52a1d8;
    font-weight: bold;
    font-size: 120%; }
