#team {
  margin: 100px 0; }

.team-member {
  margin-top: 30px; }
  .team-member img {
    float: right;
    width: 100%;
    padding-bottom: 5px; }
  .team-member:hover img {
    opacity: 0.8; }

.team-member h3 {
  margin-bottom: 3px;
  font-size: 20px; }

.team-member p {
  font-size: 14px; }

.team-member .social-icons a {
  background: #337ab7;
  color: #fff;
  padding: 4px 8px;
  display: inline-block;
  font-size: 15px; }

.team-member .social-icons .facebook {
  padding: 4px 12px; }

#knight_acknowledgement h2 {
  padding-bottom: 30px;
  padding-top: 30px; }

@media only screen and (max-width: 767px) {
  #knight_acknowledgement h2 {
    font-size: 40px; } }
